html{
    --whitecolor: #FFFFFF;
    --code1: #FF678E;
    --code2: #0e0004;

}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--code2);
    scroll-behavior: smooth;
}
#fSection{
    background-image: radial-gradient(circle, #3b0612, #110105 50%);
}
#nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
}
#nav img{
    height: 16px;
}
#nav ul{
    display: flex;
    margin: 0 20%;
    transition: margin 1s ease;
}
#nav ul li{
    display: flex;
    padding: 0 40px;
    list-style-type: none;
}
#nav ul li a{
    color: var(--whitecolor);
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
.menu-icon{
    color: var(--whitecolor);
    font-size: 25px;
    border: 1px solid rgb(235, 233, 233, 0.2);
    padding: 2px 10px;
    border-radius: 50%;
    transition: background-color .5s ease-in-out;
    cursor: pointer
}
.menu-icon:hover{
    background-color: #3b0612;
}
#treasure{
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    position: relative;
}
#treasure h1{
    font-size: 72px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    width: 25%;
    text-transform: uppercase;
    color: white;
    transition: font-size .5s linear;
}
#treasure img{
    margin-right: 10%;
    margin-left: 10%;
    margin-top: -30px;
    width: 350px;
    height: 350px;
}
#treasure .details{
    color: white;
    display: block;
}
#treasure .details span{
    text-transform: capitalize;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
#treasure .details p{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
#treasure .details ul{
    display: flex;
    margin-left: -40px;
}
#treasure .details ul li{
    list-style-type: none;
    
}
.pure{
    display: none;
}
.pure{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 240px;
    text-transform: uppercase;
    letter-spacing: 50px;
    color: white;
    position: absolute;
    top: 0;
    left: 30%;
    background-image:linear-gradient(rgb(255, 255, 255, 0.06) 0%, rgba(45, 27, 23, 0) 100%);
    background-size: 100%;
    -webkit-background-clip: text;/***safrai, chrome***/
    -moz-background-clip: text; /*firefox***/
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    transition: all 1s ease;
}
#note{
    display: flex;
    align-items: flex-start;
    padding-left: 160px;
    font-family: "Inter", sans-serif;
    margin-top: 40px;
    margin-bottom: 30px;
}
#note div{
    width: 40px;
    height: 2px;
    border: none;
    border-top: 1px solid var(--whitecolor);
    margin-right: 15px;
}
#note p{
    width: 260px;
    margin-top: -6px;
    font-size: 14px;
    color: var(--whitecolor);
    margin-right: 20px;
}
.union{
    width: 30px;
    height: 30px;
}
.add{
    margin-right: 15px;
    width: 100px;
    height: 30px;
    background-color: var(--code1);
    outline: none;
    cursor: pointer;
    border: transparent;
    border-radius: 15px;
    transition: background-color .5s ease;
}
.add:hover{
    background-color: var(--code2);
    color: var(--code1);
}
.add:active{
    background-color: var(--code1);
}
#content1{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
#content1 .content1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content1 > div{
    border: .1px  solid #ff678d1e;
    border-bottom: none;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 6.3%;
}
.content1 > .fContent{
    border-left: none;
}
.content1 > .lContent{
    border-right: none;
}
.content1 > div p:first-child{
    color: var(--code1);
}
.content1 >div p{
    color: var(--whitecolor);
}

/************************/
#sSection{
    margin-top: 120px;
    padding-left: 160px;
    font-family: "Inter", sans-serif;
}
.sSection{
    width: 450px;
    color: var(--whitecolor);
}
.sSection h1{
    font-size: 40px;
    font-weight: 400;
}
.sSection p{
    font-weight: 100;
    font-size: 14px;
    line-height: 25px;
}
.sSection-col{
    display: flex;
    margin-top: 50px;
}
.sSection-col div{
    width: 25%;
    margin-right: 5%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sSection-col div img{
    width: 70%
}
.sSection-col .roseContainer{
    background-color: rgb(255, 255, 255, 0.06);
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255, 0.06);
}
.sSection-col .rose{
    width: 50%;
}
.sSection-col div p{
    color: var(--whitecolor);
    font-size: 14px;
    font-weight: 100;

}
.sSection-col div p:first-of-type{
    color: var(--whitecolor);
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 400;
}
/********************/
#thirdSection{
    padding-left: 160px;
    font-family: "Inter", sans-serif;
}
#thirdSection .firstDiv{
    width: 290px;
}
#thirdSection .firstDiv p:first-of-type{
    text-transform: uppercase;
    color: var(--code1);
    font-size: 16px;
    letter-spacing:5px;
}
#thirdSection .firstDiv p{
    color: var(--whitecolor);
    font-size: 40px;
    font-weight: 400;
}
#thirdSection .secondDiv{
    display: flex;
    color: var(--whitecolor);
    margin-top: 120px;

} 
#thirdSection .secondDiv .subDiv{
    display: flex;
    align-items: end;
}
.subDiv h1{
    font-weight: 400;
}
.pic{
    width: 40%;
    padding: 0 5%;
}
.ssubdiv{
    display: block;
    width: 230px;
}
.ssubdiv h1{
    padding-bottom: 25px;
    font-weight: 400;
    text-transform: capitalize;
}
.ssubdiv p:first-of-type{
    color: var(--whitecolor);
    font-weight: 100;
}
.learn{
    text-transform: uppercase;
    font-weight: 100;
    font-size: 14px;
}
footer{
    position: absolute;
    width: 100%;
    margin-top: 150px;
    padding-top: 50px;
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-background-color: rgba(255, 255, 255, 0.06);
    -moz-background-color: rgba(255, 255, 255, 0.06);
    -ms-background-color: rgba(255, 255, 255, 0.06);
    -o-background-color: rgba(255, 255, 255, 0.06);
}

footer .footer-wrapper{
    width: 77%;
    display: block;
    margin: auto;
}
footer div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
footer div > p{
    font-size: 14px;
    color: rgba(235, 233, 233, 0.2);
    -webkit-color: rgba(235, 233, 233, 0.2);
    -moz-color: rgba(235, 233, 233, 0.2);
    -ms-color: rgba(235, 233, 233, 0.2);
    -o-color: rgba(235, 233, 233, 0.2);
}

footer .input{
    width: 300px;
    height: 45px;
    background-color: rgb(255, 255, 255, 0.06);
    -webkit-background-color: rgb(255, 255, 255, 0.06);
    -moz-background-color: rgb(255, 255, 255, 0.06);
    -ms-background-color: rgb(255, 255, 255, 0.06);
    -o-background-color: rgb(255, 255, 255, 0.06);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 20px;
    padding: 0 5px 0 15px;
    margin-top: 20px;
}
footer .input input{
    height: inherit;
    background-color: transparent;
    border: none;
    outline: none;
}
footer .input button{
    background-color: var(--code1);
    width: 150px;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 20px;
    text-transform: capitalize;
    transition: all .5s ease;
    cursor: pointer;
}
footer .input button:hover{
    background-color: var(--code2);
    color: var(--code1);
}
#footerNav ul{
    display: flex;
}
#footerNav ul li{
    display: flex;
    padding: 0 30px;
    list-style-type: none;
}
#footerNav ul li a{
    color: var(--whitecolor);
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}


/*******************/
@media screen and (max-width: 1210px){
    #nav ul{
        display: flex;
        margin: 0 10%;
    }
}
@media screen and (min-width: 1210px){
    .pure{
        display: block;
    }
}
@media screen and (max-width: 1110px){
    #treasure h1{
        font-size: 60px;
    }
    footer div > p{
        color: rgb(235, 233, 233, 0.2);
        font-size: 12px;
    }
    #footerNav ul li a{
        font-size: 10px;
    }
}
@media screen and (max-width: 1020px){
    #sSection, #thirdSection, #note{
        padding-left: 50px;
    }
    
}
@media screen and (max-width: 940px){
    .content1 > div p:nth-of-type(2){
        font-size: 12px;
    }
    #nav ul{
        display: flex;
        margin: 0 7%;
    }
}
@media screen and (max-width: 767px){
    .ssubdiv h1{
        font-size: 17px;
    }
    .ssubdiv p:first-of-type{
       font-size: 14px;
    }
    .learn{
        text-transform: uppercase;
        font-weight: 100;
        font-size: 10px;
}
}
@media screen and (max-width: 880px){
    #nav ul{
        display: none;
        margin: 0 7%;
    }
    #treasure img{
        width: 280px;
        height: 280px;
        margin-left: 15%;
        margin-right: 5%;
    }
    #treasure h1{
        font-size: 50px;
    }
    #nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }
}
 @media screen and (max-width: 723px){
        .content1 > div p:nth-of-type(2){
            font-size: 8px;
        }
}

@media screen and (max-width: 700px){
    #treasure img{
        width: 250px;
        height: 250px;
        margin-left: 15%;
        margin-right: 3%;
    }
    #treasure h1{
        font-size: 40px;
    }
}
@media screen and (max-width: 600px) {
    #sSection, #thirdSection, #note{
        padding-left: 10px;
    }
    
    .sSection-col{
        display: block;
        margin-top: 50px;
    }
    .sSection-col div{
        width: 70%;
        margin: auto;
        display: flex;
        text-align: center;
    }
    .sSection-col div img{
        width: 70%
    }
    #thirdSection .secondDiv{
        display: block;
        margin-top: 120px;
    
    }
    #thirdSection .secondDiv .subDiv{
       margin-bottom: 100px;
    }
    #treasure img{
        width: 150px;
        height: 150px;
        margin-left: 10%;
        margin-right: 3%;
    }
    #treasure h1{
        font-size: 28px;
    }
    #treasure .details span{
        font-size: 10px;
    }
    #treasure .details p{
        font-size: 16px;
    }
    #sSection{
        margin-top: 120px;
    }
}
@media screen and (max-width: 780px){
    #footerNav ul, .footerLogo{
        display: none; 
    }
}